* {
  padding: 0;
  margin: 0;
  background-color: #fefae0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vmin;
  margin-top: 6vh;
}
body {
  display: flex;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.key {
  font-style: inherit;
}
.box1,
.box2,
.box3 {
  padding: 2vmin 0 0 0;
  background-color: #faedcd;
  min-height: 4vmin;
  min-width: 14vmin;
  text-align: center;
  margin-top: 0.5rem;
  border: solid black 2px;
}
